@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700;900&display=swap'); 
@import url("../icons/font-awesome/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'DM SANS';
}

nav.navbar.navbar-expand-lg.navbar-light.bg-theme{
	background-color: #11263C;
	color: #92979A;
	padding: 0px 1.875rem 0px 0rem;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: #11263C!important;
    background: #fff;
    font-weight: 500;
    font-family: 'DM SANS';
    font-size: 1.125rem;
    margin-top: 10px;
    border-top: 2px solid #FE8600;
}
.navbar-light .navbar-nav .nav-link {
    color: #92979A;
}
a.nav-link.dt_nav {
    color: #92979A !important;
}
.right_sec{
	list-style: none;
}
ul.right_sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul.navbar-nav.right_sec li {
    padding: 0.938rem 1.563rem;
}
li.seeting_icon img {
    background: #294460;
    border-radius: 50px;
    padding: 9px;
    width: 41px;
}
li.profile_user p.icon_user {
    margin-bottom: 0px;
    color: #FB5080;
    background: #FEEEF1;
    font-size: 1.063rem;
    font-weight: 600;
    font-family: 'DM SANS';
    width: 3.5rem;
    height: 3.5rem;
    text-align: center;
    border-radius: 81px;
    display: flex;
    align-items: center;
    justify-content: center;
}
li.seeting_icon {
    border-right: 1px solid #233B55;
}
a.nav-link.dt_nav {
    padding-left: 1.25rem !important;
    padding-right: 1.25rem !important;
}
a.nav-link.dt_nav {
    display: flex;
    align-items: center;
    height: 4rem;
    margin-top: 10px;
    font-size: 1.125rem;
}
ul.navbar-nav.right_sec li {
    padding: 0.938rem 1.563rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.name_div p {
    margin-bottom: 0px;
    padding-left: 20px;
}
.color_w{
	color: #fff;
}
.color_sl{
	color: #92979A;
}
.dt_tabs{
	background: #fff;
	box-shadow: 2px 2px 4px #EFF0F1;
	padding: .7rem 1.875rem 0px 1rem;
}
.dt_tabs .profile-tab {
    margin-top: 0px;
    
}
.dt_tabs .nav-tabs {
    border-bottom: none;
}

.dt_tabs a{
	padding-bottom: 1.25rem;
}
.pb_20{
    padding-bottom: 1.25rem ;
}
.grid_card{
    background: #fff;
    box-shadow: 2px 2px 4px #EFF0F1;
    margin: /*1.719rem*/ 0px 0rem 0px 1.028rem;
    /*padding: 1.375rem 2rem;*/
}
.grid_mr{
   margin-right: 1.028rem;
}
.grid_card_table{
    background: #fff;
    box-shadow: 2px 2px 4px #EFF0F1;
    margin: 1.719rem 0rem 0px 0rem;
    /*padding: 1.375rem 2rem;*/
}
.card_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E7E8E9;
    padding: .6rem .5rem .6rem 1rem;
}
.card_diag img {
    width: 200px;
    height: auto;
}
.txt_card_2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.txt_card h3{
    font-family:'DM SANS';
    font-weight: 600;
    font-size: 1.25rem;
    color: #11263C;
    margin-bottom: 0px;
}
.txt_card_2 p{
    font-family:'DM SANS';
    font-weight: 400;
    font-size: 0.938rem;
    color: #11263C;
    padding: 0px 7px 0px 0px;
    margin-bottom: 0px;
}
.card_diag {
    width: 100%;
    padding: .5rem 0px .5rem 0px;
    margin: 0 auto;
    text-align: center;
}
.card_diag.table_card {
    padding: 0px 0px;
}
.card_diag h3 {
    text-align: center;
}
.btn-light {
    height: 3.2rem;
}
.txt_invglob p {
    font-size: 1.25rem;
    color: #11263C;
    font-family: 'DM Sans';
    font-weight: 600;
    margin-top: 0.781rem;
}
.txt_invglob span {
    font-size: 0.938rem;
    color: #92979A;
    font-family: 'DM Sans';
    font-weight: 400;
    margin-top: 0.781rem;
}
.grid_card .inv {
    margin-top: 0px;
    border: none;
    box-shadow: none;
}
p.vl {
    color: #FE8600;
    font-size: 0.938rem;
    font-family: 'DM Sans';
    font-weight: 500;
}
.navbar-light .navbar-toggler {
    color: #fff;
    border-color: #000;
    background: #fff;
}
button.btn.btn-light {
    margin-left: 2px;
}
.tab_flex{
    display: flex;
}
.ml_20{
    margin-left: 20px;
}
.card_head h3 {
    font-size: 1.125rem;
}

@media (max-width: 600px){
    .grid_card {
    background: #fff;
    box-shadow: 2px 2px 4px #eff0f1;
    margin: 1.719rem 1.028rem 0px 1.028rem;
    /* padding: 1.375rem 2rem; */
}
.tab_flex{
    display: block;
}
.ml_20{
    margin-left: 0px;
}
.scroll_tab_dg{
    flex-wrap: nowrap !Important;
}
.tabs_srll{
    overflow-x: auto;
    overflow-y: hidden;
    margin: 10px 0px;
}
}

/*dashboard-2 css*/

ul.tabs_card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
ul.tabs_card li.tc-1 {
    margin: 0px 2rem 0px 1rem;
}
li.tc-1.active {
    color: #000;
    font-weight: 500;
}
li.tc-1{
    color: #92979A;
    font-size: 0.875;
    font-family: 'DM Sans';
}
