:root { 
  --athens-gray: #eaecf2;
  --big-stone: #171c3c;
  --big-stone-2: #11263c;
  --black: #00000098;
  --black-haze: #f5f6f7;
  --celeste: #d1d1d1;
  --charade: #2e2b36;
  --cinnabar: #e54242;
  --emerald: #3feb7b;
  --flush-orange: #fe8600;
  --gray-nurse: #e7e8e9;
  --malachite: #14db58;
  --malachite-2: #14db581d;
  --manatee: #9597a3;
  --mercury: #e0e2e5;
  --mountain-mist: #92979a;
  --mystic: #e5e7ef;
  --navy-blue: #147ad6;
  --regent-gray: #8392a5;
  --remy: #feeef1;
  --rhino: #294460;
  --sasquatch-socks: #fb5080;
  --shark: #202228;
  --trout: #4a515c;
  --whisper: #f4f5fa;
  --whisper-2: #f5f6fa;
  --whisper-3: #f7f8fa;
  --white: #ffffff;
  --white-2: #ffffff05;
 
  --font-size-l: 16px;
  --font-size-m: 15px;
  --font-size-s: 14px;
  --font-size-xl: 17px;
  --font-size-xs: 13px;
  --font-size-xxl: 18px;
  --font-size-xxxl: 20px;
 
  --font-family-dm_sans: "DM Sans", Helvetica;
  --font-family-poppins: "Poppins", Helvetica;
}
.dmsans-bold-big-stone-15px {
  color: var(--big-stone);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.dmsans-normal-big-stone-15px {
  color: var(--big-stone);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.dmsans-medium-mountain-mist-16px {
  color: var(--mountain-mist);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 500;
}

.dmsans-normal-mountain-mist-20px {
  color: var(--mountain-mist);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 400;
}

.dmsans-normal-big-stone-17px {
  color: var(--big-stone-2);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.dmsans-bold-big-stone-20px {
  color: var(--big-stone-2);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
}

.dmsans-normal-mountain-mist-17px {
  color: var(--mountain-mist);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.dmsans-normal-mountain-mist-18px {
  color: var(--mountain-mist);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}

.dmsans-normal-mountain-mist-11px {
  color: var(--mountain-mist);
  font-family: var(--font-family-dm_sans);
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
}

.dmsans-medium-big-stone-14px {
  color: var(--big-stone);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 500;
}

.dmsans-bold-big-stone-20px-2 {
  color: var(--big-stone);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
}

.dmsans-bold-white-17px {
  color: var(--white);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}

.dmsans-normal-big-stone-17px-2 {
  color: var(--big-stone);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.dmsans-bold-big-stone-24px {
  color: var(--big-stone-2);
  font-family: var(--font-family-dm_sans);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}

.dmsans-normal-mountain-mist-13px {
  color: var(--mountain-mist);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.dmsans-normal-charade-15px {
  color: var(--charade);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.dmsans-bold-mountain-mist-14px {
  color: var(--mountain-mist);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 700;
}

.dmsans-medium-sasquatch-socks-17px {
  color: var(--sasquatch-socks);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 500;
}

.dmsans-medium-mountain-mist-13px {
  color: var(--mountain-mist);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 500;
}

.dmsans-medium-big-stone-27px {
  color: var(--big-stone);
  font-family: var(--font-family-dm_sans);
  font-size: 27px;
  font-style: normal;
  font-weight: 500;
}

.dmsans-bold-navy-blue-17px {
  color: var(--navy-blue);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}

.dmsans-medium-white-17px {
  color: var(--white);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 500;
}

.dmsans-medium-malachite-15px {
  color: var(--malachite);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.dmsans-bold-big-stone-17px {
  color: var(--big-stone);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}

.dmsans-normal-big-stone-18px {
  color: var(--big-stone);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}

.dmsans-medium-cinnabar-15px {
  color: var(--cinnabar);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.dmsans-medium-shark-17px {
  color: var(--shark);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 500;
}

.dmsans-normal-manatee-13px {
  color: var(--manatee);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.dmsans-medium-flush-orange-15px {
  color: var(--flush-orange);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.dmsans-bold-big-stone-17px-2 {
  color: var(--big-stone-2);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}

.dmsans-normal-mountain-mist-16px {
  color: var(--mountain-mist);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.dmsans-bold-big-stone-15px-2 {
  color: var(--big-stone);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-m);
}

.dmsans-normal-mountain-mist-10px {
  color: var(--mountain-mist);
  font-family: var(--font-family-dm_sans);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
}

.poppins-medium-big-stone-17px {
  color: var(--big-stone);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 500;
}

.poppins-normal-regent-gray-17px {
  color: var(--regent-gray);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.dmsans-normal-big-stone-13px {
  color: var(--big-stone-2);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.dmsans-normal-mountain-mist-15px {
  color: var(--mountain-mist);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.poppins-medium-big-stone-24px {
  color: var(--big-stone);
  font-family: var(--font-family-poppins);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}

.dmsans-medium-big-stone-18px {
  color: var(--big-stone-2);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 500;
}

.dmsans-medium-big-stone-17px {
  color: var(--big-stone-2);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 500;
}

.border-1px-gray-nurse {
  border: 1px solid var(--gray-nurse);
}

.border-1-5px-mountain-mist {
  border: 1.5px solid var(--mountain-mist);
}

.border-1px-celeste {
  border: 1px solid var(--celeste);
}

.border-1px-mystic {
  border: 1px solid var(--mystic);
}

.border-1px-mountain-mist {
  border: 1px solid var(--mountain-mist);
}

.border-2px-trout {
  border: 2px solid var(--trout);
}
